<!DOCTYPE html>
              <tr>
                <td>頻繁に頭痛がする</td>
                <td>
                  <div  th:each="answer,index : ${answers}">
                    <input type="radio" th:name="scheck1" th:id="|scheck1_${index.count}|" th:field="*{scheck1}" th:value="${answer}"/>
                    <label th:for="|scheck1_${index.count}|" th:text="${answer}"></label>
                  </div>
                </td>
              </tr>

              <tr>
                <td>いくら寝ても眠い</td>
                <td>
                  <div  th:each="answer,index : ${answers}">
                    <input type="radio" th:name="scheck2" th:id="|scheck2_${index.count}|" th:field="*{scheck2}" th:value="${answer}"/>
                    <label th:for="|scheck2_${index.count}|" th:text="${answer}"></label>
                  </div>
                </td>
              </tr>

              <tr>
                <td>手足がしびれることがある</td>
                <td>
                  <div  th:each="answer,index : ${answers}">
                    <input type="radio" th:name="scheck3" th:id="|scheck3_${index.count}|" th:field="*{scheck3}" th:value="${answer}"/>
                    <label th:for="|scheck3_${index.count}|" th:text="${answer}"></label>
                  </div>
                </td>
              </tr>

              <tr>
                <td>寝つきが悪い</td>
                <td>
                  <div  th:each="answer,index : ${answers}">
                    <input type="radio" th:name="scheck4" th:id="|scheck4_${index.count}|" th:field="*{scheck4}" th:value="${answer}"/>
                    <label th:for="|scheck4_${index.count}|" th:text="${answer}"></label>
                  </div>
                </td>
              </tr>

              <tr>
                <td>怒りっぽくなった</td>
                <td>
                  <div  th:each="answer,index : ${answers}">
                    <input type="radio" th:name="scheck5" th:id="|scheck5_${index.count}|" th:field="*{scheck5}" th:value="${answer}"/>
                    <label th:for="|scheck5_${index.count}|" th:text="${answer}"></label>
                  </div>
                </td>
              </tr>

            </table>

            <input type="submit" name="send" value="next" />
</html>
