<!doctype html>
<html th:fragment="layout (template, menu)">
<head>
    <title>TOP</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
</head>

<body>
    <!--script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-K09cMhJkkwNoZK1BRIJX6fQk06LqHSs8LdWAE24M/18F4NlePaltFx1cnB9wKwQX" crossorigin="anonymous"></script-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/js/jquery.japan-map.min.js"></script>
    <!--script type="text/javascript"  th:src="@{/webjars/jquery/jquery.min.js}"></script>-->
    <!--script type="text/javascript"  th:src="@{/webjars/jquery-ui/jquery-ui.min.js}"></script-->
    <!--script type="text/javascript"  th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>-->
    <script>
        $(function(){
            $('.dropdown').hover(function(){
                $("ul:not(:animated)", this).slideDown();
            },function(){
                $("ul.dropdwn_menu",this).slideUp();
            });
        })

    </script>
    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="/"><span class="glyphicon glyphicon-home"></span> Home</a>
                </li>
                <li>
                    <a href="https://devcenter.heroku.com/articles/how-heroku-works"><span class="glyphicon glyphicon-user"></span> How Heroku Works</a>
                </li>
                <!--li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><span class="glyphicon glyphicon-info-sign"></span> Getting Started Guides <span class="caret"></span></a>
                    <ul class="dropdwn_menu" role="menu" style="position: absolute;">
                        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-ruby">図書館検索</a></li>
                        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-nodejs">蔵書検索</a></li>
                        <li><a href="https://devcenter.heroku.com/articles/getting-started-with-php"></a></li>
                    </ul>
                </li-->
            </ul>
        </div>
    </nav>
    <div th:replace="${template}"/>
</body>