<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<style>
  .formal_title {
    font-size: 30px;
  }
  .url_pc_title {
    color: blue;
    text-decoration:underline;
  }
  .libmap {
    margin: 5px 0px;
    padding:5px;
    border:solid 1px #000;
  }
</style>
<script>
</script>
<div class="jumbotron text-center">
  <div class="container">
    <h1>図書館 検索</h1>
    <p>近隣の図書館検索お試し版</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div>
      <h3><span class="glyphicon glyphicon-info-sign"></span>検索条件</h3>
        <form action="/content/lib" method="post" >
          <span>都道府県:</span>
          <select name="example">
            <option th:each="op : ${option}" th:selected="${input_info.getInputAddress() == op }"><p th:text="${op}" ></p></option>
          </select>
          <input type="submit" name="search" value="実行" />
        </form>
        <p th:text="${input_SerchResource}"></p>
        <div th:each="record : ${libmap}" class="libmap">
          <div th:each="map : ${record}">
            <span th:class="${map.key}+'_title'" th:text="${map.value}"></span>
          </div>
        </div>
    </div>
  </div>
</div>

</body>
</html>
