<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<style>
</style>
<script>

</script>
<div class="jumbotron text-center">
  <div class="container">
    <h2>Java API呼び出しサンプル集</h2>
  </div>
</div>
<div class="container">
  <div class="row">
    <div>
      <article>
          <h3><span class="glyphicon glyphicon-info-sign"></span><a href="./content/lib">図書館検索</a></h3>
      </article>
      <article>
        <h3><span class="glyphicon glyphicon-info-sign"></span><a href="./content/yah">Yahoo商品検索</a></h3>
     </article>
     <article>
        <h3><span class="glyphicon glyphicon-info-sign"></span><a href="./content/jpmap">Japan Map</a></h3>
     </article>
     <article>
      <h3><span class="glyphicon glyphicon-info-sign"></span><a href="./content/stresscheck">Japan Map</a></h3>
   </article>
  </div>
  </div>
</div>

</body>
</html>
