<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'index')}">

<body>
<style>
  .formal_title {
    font-size: 30px;
  }
  .url_pc_title {
    color: blue;
    text-decoration:underline;
  }
  .libmap {
    margin: 5px 0px;
    padding:5px;
    border:solid 1px #000;
  }
</style>
<script>
  $(function(){
    $('.url_pc_title').on('click', function(value) {
      window.open(value.currentTarget.innerText, '_blank'); // 新しいタブを開き、ページを表示
    });

    function getposition(position){
    var lat_text = "緯度:" + position.coords.latitude;
    var lon_text = "経度:" + position.coords.longitude;
    }
    navigator.geolocation.getCurrentPosition(getposition);
  })
</script>
<div class="jumbotron text-center">
  <div class="container">
    <h1>図書館 検索</h1>
    <p>近隣の図書館検索お試し版</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div>
      <h3><span class="glyphicon glyphicon-info-sign"></span>検索条件</h3>
        <form action="/calilrec" method="post" >
          <span>都道府県:</span>
          <select name="example">
            <!--
            <option th:each="op : ${option}" ><p th:text="${op}" th:text="${op}.equals(${input_Sample.getInputAddress()}) ? 'selected'"></p></option>
            <option th:each="op : ${option}" ><p th:text="${op}" ></p></option>
            -->
            <option th:each="op : ${option}" ><p th:text="${op}" ></p></option>
          </select>
          <input type="submit" name="search" value="実行" />
          <p th:text="${input_info.getInputAddress()}" ></p>
        </form>
        <div th:each="record : ${libmap}" class="libmap">
          <div th:each="map : ${record}">
            <span th:class="${map.key}+'_title'" th:text="${map.value}"></span>
          </div>
        </div>
    </div>
  </div>
</div>

</body>
</html>
